#title {
    background: #e6e6c6 url("../imagenes/titulo.jpg") no-repeat ;
		border-width: 0px;
}

.dialogo {
	font-family: Palatino, Times, "Times New Roman", serif;
	padding-left: 2em;
	padding-top: 1.2em;
	padding-bottom: 1.2em;
}

.personaje {
	color: rgb( 80, 80,120 );
}

#info_panel p {
  font-size: 80%;
}

.img-situation {
  width: 100%;
}

#content a {
  border: 1px dotted black;
  background-color: rgba(255,117,020);
  color: black;
  font-weight: bold;
  padding: 2px;
}
